In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\rohit\\Desktop\\kinjal doc\\bestsellers.csv')
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [18]:
# Find the lowest User Rating in the DF

lowest_rating = df['User Rating'].min()
lowest_rating

3.3

In [20]:
# Find the highest Price in the DF

highest_Price = df['Price'].max()
highest_Price

105

In [30]:
# What the average User Rating of the first 5 rows?


new_df=(df.head(5))
new_df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [31]:
User_Rating = new_df['User Rating'].mean()
User_Rating

4.7

In [33]:
#  What User Rating score appeared the most?

User_Rating = df['User Rating'].mode()
User_Rating

0    4.8
Name: User Rating, dtype: float64

In [36]:
# What is the total (sum) of all the values in the Reviews column?

Reviews = df['Reviews'].sum()
Reviews

6574305

In [38]:
# How many different authors are featured in the dataset?

Author = df['Author'].unique()
Author

array(['JJ Smith', 'Stephen King', 'Jordan B. Peterson', 'George Orwell',
       'National Geographic Kids', 'George R. R. Martin', 'Amor Towles',
       'James Comey', 'Fredrik Backman', 'Larry Schweikart',
       'Jaycee Dugard', "Madeleine L'Engle", 'Steve Harvey',
       'Adult Coloring Book Designs', 'Blue Star Coloring',
       'Coloring Books for Adults', 'Ron Chernow', 'Anthony Doerr',
       'Veronica Roth', 'Chris Kyle', 'Khaled Hosseini', 'Glenn Beck',
       'Neil deGrasse Tyson', 'Mark Twain', 'DK', 'Angie Grace',
       'Ina Garten', 'Michelle Obama', 'Atul Gawande', 'Ta-Nehisi Coates',
       'Bruce Springsteen', 'Stephenie Meyer', 'Bill Martin Jr.',
       'Jeff Kinney', "Sasha O'Hara", 'David Goggins', 'Thomas Piketty',
       'Suzanne Collins', 'Chrissy Teigen', 'Francis Chan', 'Kevin Kwan',
       'Marjorie Sarnat', 'Abraham Verghese', 'Brené Brown',
       'Malcolm Gladwell', 'Charlaine Harris', 'Rod Campbell',
       'George W. Bush', 'Tony Hsieh', 'American Psychiatric Association',
       'M Prefontaine', 'Zhi Gang Sha', 'Dav Pilkey', 'Marty Noble',
       'Daniel H. Pink', 'David Zinczenko', 'Joel Fuhrman MD',
       'Tara Westover', 'Johanna Basford', 'Ray Bradbury', 'J.K. Rowling',
       'Bob Woodward', 'E L James', 'Michael Wolff', 'Roger Priddy',
       'Michael Pollan', 'RH Disney', 'John Heilemann',
       'George R.R. Martin', 'Peter A. Lillback', 'Brian Kilmeade',
       'Giles Andreae', 'Rachel Hollis', 'Harper Lee', 'Adam Mansbach',
       'Sarah Palin', 'Gillian Flynn', 'Pretty Simple Press',
       'Jim Collins', 'Margaret Wise Brown', 'Sherri Duskey Rinker',
       'David Perlmutter MD', 'Raina Telgemeier', 'Lin-Manuel Miranda',
       'Phil Robertson', 'J. K. Rowling', 'Scholastic', 'Mitch Albom',
       'Todd Burpo', 'J. D. Vance', 'Joanna Gaines', 'Dale Carnegie',
       'Howard Stern', 'Brandon Stanton', 'Allie Brosh',
       'Hopscotch Girls', 'James Patterson', 'Ann Whitford Paul',
       'Gayle Forman', 'Eric Larson', 'Dan Brown', 'Christopher Paolini',
       'Jennifer Smith', 'Lysa TerKeurst', 'Sarah Young', 'David Grann',
       "Bill O'Reilly", 'Anthony Bourdain', 'Rob Elliott', 'Jill Twiss',
       'Sheryl Sandberg', 'Walter Isaacson', 'Paper Peony Press',
       'Mark R. Levin', 'Keith Richards', 'Chris Cleave',
       'Alice Schertle', 'Celeste Ng', 'John Green', 'Rob Bell',
       'Robert Munsch', 'Admiral William H. McRaven', 'Julia Child',
       'Rupi Kaur', 'Adam Gasiewski', 'Carol S. Dweck', 'Crispin Boyer',
       'Amy Shields', 'Elie Wiesel', 'Mark Owen', 'Pete Souza',
       'Dr. Seuss', 'Elizabeth Strout', 'Ann Voskamp',
       'Christina Baker Kline', 'Naomi Kleinberg', 'Rick Riordan',
       'Wizards RPG Team', 'Eben Alexander',
       'American Psychological Association', 'Golden Books', 'Susan Cain',
       'David Platt', 'Ernest Cline', 'Rush Limbaugh', 'Samin Nosrat',
       'Tatiana de Rosnay', 'School Zone', 'Justin Halpern',
       'Tucker Carlson', 'Ian K. Smith M.D.', 'Nathan W. Pyle', 'Gallup',
       'Steven D. Levitt', 'Chip Heath', 'John Grisham', 'Doug Lemov',
       'Mike Moreno', 'Timothy Ferriss', 'Gary Chapman',
       'W. Cleon Skousen', 'Stephen R. Covey', 'Paulo Coelho',
       'Edward Klein', 'Garth Stein', 'Michael Lewis', 'Mark Hyman M.D.',
       'Bessel van der Kolk M.D.', 'Bill Simmons', 'Markus Zusak',
       'B. J. Novak', 'Daniel James Brown', 'Thomas Campbell',
       'Amy Ramos', 'Delegates of the Constitutional\x85', 'Jon Stewart',
       'Drew Daywalt', 'Pierre Dukan', 'Muriel Barbery',
       'Patrick Lencioni', 'Don Miguel Ruiz', 'Paula Hawkins',
       'Stieg Larsson', 'Sandra Boynton', 'Donna Tartt',
       'F. Scott Fitzgerald', 'Mary Ann Shaffer', 'Margaret Atwood',
       'Jonathan Cahn', 'Angie Thomas', 'Kathryn Stockett',
       'Rebecca Skloot', 'Laurel Randolph', 'Randy Pausch',
       'Patrick Thorpe', 'Daniel Lipkowitz', 'Marie Kondō',
       'Stephen Kendrick', 'Chip Gaines', 'Andy Weir', 'James Dashner',
       'The Washington Post', 'Kristin Hannah', 'The College Board',
       'Paula McLain', 'Ree Drummond', 'Dr. Steven R Gundry MD',
       'Deborah Diesen', 'Charles Duhigg', 'F. A. Hayek',
       'William P. Young', 'Alex Michaelides', 'Mark Manson',
       'Audrey Niffenegger', 'Dave Ramsey', 'Dinah Bucholz', 'Eric Carle',
       'Melissa Hartwig Urban', 'Emily Winfield Martin', 'Craig Smith',
       'David McCullough', 'Charles Krauthammer', 'Daniel Kahneman',
       'Jay Asher', 'Jon Meacham', 'Greg Mortenson', 'Thug Kitchen',
       'Tina Fey', 'Robert Jordan', 'Edward M. Kennedy',
       'Laura Hillenbrand', 'Silly Bear', 'Alan Moore', 'Sara Gruen',
       'Hillary Rodham Clinton', 'Randall Munroe', 'Adir Levy',
       'Heidi Murkoff', 'William Davis', 'Paul Kalanithi', 'Delia Owens',
       'Maurice Sendak', 'The Staff of The Late Show with\x85',
       'Cheryl Strayed', 'Ken Follett', 'Geneen Roth', 'R. J. Palacio',
       'Jen Sincero'], dtype=object)

In [45]:
# Which author wrote the most number of books on the list? How many did they write?

Author=df['Author'].mode()
Author

'Jeff Kinney'

In [53]:
df.loc[df['Author']=='Jeff Kinney'].count()

Name           12
Author         12
User Rating    12
Reviews        12
Price          12
Year           12
Genre          12
dtype: int64